.th1{
	text-align:center;
	font-style:bold;
	font-size:60px;
}

a{
	text-decoration: none;
	color: black;
}

body {
	background-image: url('background.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	min-height: 100vh;
}
.divleft{
	float:left;
	margin:10%;
	margin-right:20%;
	margin-top:5%;
}

.divright{
	
	margin-top:40%;
	float:right;
	margin:10%;
	
}

p{
	font-style:bold;
	font-size:20px;
}

fieldset{
	box-shadow:0 5px 10px black;
	background-color:#B2BEB5;
	width:40%;
	}
	
label{
	width:30%;
	display:inline-block;
}	

input[type="submit"]{
	width:60%;
	margin-left:25%;
	margin-bottom:5%;
	font-style:bold;
	padding:1%;
	background-color:#90EE90;
}
/*style for social links
#sdiv{
	text-align:center;
	
}


#sdiv fa-brands{
	font-size:30px;
	padding:2%
}
*/
